@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*#1a1a1a*/
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
    transition: 0.5s ease;
    height: 3000px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 7%;
    height: 80px;
}

.logo {
    flex: 10%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: #422bc9;
    text-shadow: 0 0 2px white;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    flex: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/*testes de hover*/
.menu ul li{
    margin-right: 0;
    padding-right: 4rem;
    padding: 8px 2rem;
    padding-top: 27px;
    transition: 0.2s;
    display: inline; /*garantir mesmo tamanho dos icons*/

    
}
ul li:hover{
    background-color:#e5e2fc;
    border-bottom: solid 2px #422bc9;
}

ul li, a{
    text-decoration: none;
    display: inline-block;
    color: #333227;
    border-bottom: solid 4px transparent;
}
ul li:hover a{
color: #1f1e19;
}

/*//////////////////*/
.night-mode a {
    color:  #CCCCCC;
}

.day-mode a {
    color: #333227;
}
/*//////////////////*/


/*botoes turn*/
.buttons{
    display:flex;
    align-items: center;
}

#night-icon{
    cursor: pointer;
    font-size: 2rem;
}

#day-icon{
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
/*botoes turn*/

.about-me{
    margin-top: 100px;
}

.fita {
    width: auto;
    height: auto;
    background-color:  #422bc9;
    color: white;
    padding: 1rem  5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    font-weight: bolder;
    box-shadow: 0 0 2px white;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: 0 7%;
}

.mini-container{
    flex: 50%;
    margin-right: 20%;
}

.intro{
    /*border: solid 1px red;*/
    display: inline-block;
    font-size: 45px;
    font-weight: bolder;
    color:  #422bc9;
    width: 600px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.text-intro{
    color: #333227;
    font-size: 15px;
}

.foto{
    flex: 30%;
    width: 300px;
    height: 300px;
    background-color: rgb(189, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px white;
}
#myPhoto{
    width: 100%;
    max-width: 340px;
}


.fa-solid{
    margin-left: 10px;
    font-size: 20px;
}

.fa-regular{
    font-size: 20px;
    color: #333277;
    margin-right: 10rem;
}